In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie, axis, show
%matplotlib inline

In [2]:
# Load the data
file = "data/HOF.csv"
df = pd.read_csv(file)
df.head()

,playerID,yearID,votedBy,ballots,needed,votes,inducted,category,needed_note
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
2,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN
3,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN
4,dennyje01,1936,Veterans,78.0,59.0,6.0,N,Player,NaN

In [3]:
df.shape

(1279, 9)

In [4]:
df['inducted'].dtypes

dtype('O')

In [5]:
df.inducted.replace(('Y','N'),(1,0), inplace=True)

In [6]:
df['inducted'].dtypes

dtype('int64')

In [13]:
#get the sum of Yes / No for inductees
sum_df = df.groupby(["inducted"]).sum
sum_df

In [ ]:
#calculate the percentage
ind_perc_df